<!-- index.html.erb -->
<h1> All Available Tools </h1>

<div class='tool-index'>
  <div id="map"
       style="width: 50%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class='tool-cards'>
  <% @tools.each do |tool| %>
    <div class="card-product mb-4 mx-4">
      <%= cl_image_tag tool.photo.key %>
      <div class="card-product-infos">
        <h2>Name: <%= link_to(tool.name, tool_path(tool))%></h2>
        <p>Infos:<%= tool.description %></p>
        <p>Fee per day: <%= tool.daily_price %> Euros</p>
        <p><%=tool.location%></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
