<!-- index.html.erb
tools
<% @tool.each do |tool| %>
    <li><%= link_to(tool.name, tool_path(tool)) %></li>
    <p><%=tool.location%></p>
    <p><%=tool.description%></p>
    <p><%=tool.daily_price%></p>
  <% end %> -->

<h1> All Available Tools </h1>

<% @tool.each do |tool| %>
  <div class="card-product mb-4 mx-4">
    <%= cl_image_tag tool.photo.key %>
    <div class="card-product-infos">
      <h2>Name: <%= link_to(tool.name, tool_path(tool))%></h2>
      <p>Infos:<%= tool.description %></p>
      <p>Fee per day: <%= tool.daily_price %> Euros</p>
      <p><%=tool.location%></p>
    </div>
  </div>
<% end %>
