<!-- <div>
  <div class="card mb-3 card-show">
    <img class="image-show" <%= cl_image_tag @tool.photo.key %>>
    <div class="card-body">
      <h5 class="card-title"><%=@tool.name%></h5>
      <p class="card-text"><%=@tool.description%></p>
      <p class="card-text"><small class="text-muted"><%=@tool.daily_price%>€</small></p>
    </div>
  </div>
</div> -->
<h1><%=@tool.name%></h1>

<div class="container">
  <ul class="main">
    <li class="cards_item-tool">
      <div class="card-tool main">
        <div class="card_image"><img class="image-show" <%= cl_image_tag @tool.photo.key %>>
        </div>
        <div class="card_content-tool">
          <p class="card_text-tool"><%=@tool.description%></p>
          <p class="card_text-tool">Prix par jour:     <%=@tool.daily_price%>€</p>
          <%= link_to "JE LOUE", new_tool_booking_path(@tool) , class: "btn btn-flat" %>
        </div>
      </div>
</div>
