
<h1> MY PROFILE </h1>

<div class="container">
  <div class="titre">
    <h2> Mon email:<%= @user.email %></h2>
  </div>
  <br>
  <br>
  <br>
  <div class="historique">
    <div class = "titre">
      <h2> Mon historique de tondeuses que j'ai louées </h2>
    </div>
    <ul>
      <% if @my_own_bookings.present? %>
          <% @my_own_bookings.each do |booking| %>
          <li> <%= booking.tool.name %> - Rented from <%= booking.begin_date %> - For a total of <%= booking.price_to_invoice%> Euros
          <% end %>
          </li>
      <% else %>
        You haven't rented a tool yet
      <% end  %>
    </ul>
  </div>


  <br>
  <br>

  <!-- here add an Event listener so that the status changes and the btns disappear -->
  <div class="Mes tondeuses">
    <div class = "titre">
    <h2> As a owner here are the tools I let: </h2></div>
    <div class= "para">
    <ul>
      <% @bookings.each do |booking| %>
      <li><%= booking.tool.name %> - <%= booking.begin_date %> - <%= booking.end_date %><%= booking.status %> - <%= link_to "confirm", confirm_booking_path(booking), method: :patch, class: 'btn btn-primary' %> - <%= link_to "refuse",refuse_booking_path(booking), method: :patch, class: 'btn btn-danger' %></li>
      <% end %>
    </ul>
  </div>


</div>
