<!-- my_tools index.html.erb  -->
<h1 class="m-3"> All my tools </h1>

  <!-- <div class="my-tools">
 <% @my_tools.each do |tool| %>
  <div class="card-product zoom">
    <%= cl_image_tag tool.photo.key , crop: :fill ,width: 190%>
    <div class="card-product-infos">
      <h2 class="tag"><%= link_to(tool.name, tool_path(tool))%></h2>
      <h2 class="tag">City:<%= link_to(tool.location, tool_path(tool))%></h2>
      <p>Infos:<%= tool.description %></p>
      <p>Fee per day: <%= tool.daily_price %> Euros</p>
      <p class="tag"><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p class="tag"><%= link_to 'Edit', new_my_tool_path%></p>
    </div>
  </div>
<% end %>
</div> -->

<div align="center">
  <div style="width:700px;">
    <% @my_tools.each do |tool| %>
  <div class="card-product style_prevu_kit">
    <%= cl_image_tag tool.photo.key , crop: :fill ,width: 190%>
    <div class="card-product-infos">
      <h2 class="tag"><%= link_to(tool.name, tool_path(tool))%></h2>
      <h2 class="tag">City:<%= link_to(tool.location, tool_path(tool))%></h2>
      <p>Infos:<%= tool.description %></p>
      <p>Fee per day: <%= tool.daily_price %> Euros</p>
      <p class="tag"><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p class="tag"><%= link_to 'Edit', new_my_tool_path%></p>
    </div>
  </div>
<% end %>
  </div>
</div>
