<!-- my_tools index.html.erb  -->
<h1 class="m-3"> All my tools </h1>
<div class="container">
 <% @my_tools.each do |tool| %>
  <div class="card-product mb-4 mx-4">
    <%= cl_image_tag tool.photo.key , crop: :fill ,width: 190%>
    <div class="card-product-infos">
      <h2 class="tag"><%= link_to(tool.name, tool_path(tool))%></h2>
      <h2 class="tag">City:<%= link_to(tool.location, tool_path(tool))%></h2>
      <p>Infos:<%= tool.description %></p>
      <p>Fee per day: <%= tool.daily_price %> Euros</p>
      <td class="tag"><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td class="tag"><%= link_to 'Edit', new_my_tool_path%></td>
    </div>
  </div>
<% end %>
</div>

<!-- <div class="container">
  <ul>
    <% @my_tools.each do |tool| %>
    <div class="card" style="width: 18rem;">
      <p class="card-img-top"><%= cl_image_tag tool.photo.key , crop: :fill ,width: 190%></p>
      <div class="card-body">
        <h5 class="card-title tag"><%= link_to(tool.name, tool_path(tool))%></h5>
          <p class="card-text"><%= tool.description %></p>
            <p class="card-text"><%= tool.location %></p>
            <p class="card-text">Fee per day: <%= tool.daily_price %> Euros</p>
            <td class="tag"><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td class="tag"><%= link_to 'Edit', new_my_tool_path%></td>
              <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    <% end %>
    </div>
  </ul>
</div> -->
