<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-color">
  <%= link_to "/", class: "avatar-navbar navbar-brand" do %>
    <%# <%= image_tag "https://png.pngtree.com/png-vector/20190909/ourlarge/pngtree-lawn-mower-isolated-simple-element-illustration-from-cleaning-lawn-png-image_1726697.jpg" %>
    <%= image_tag "logo-carre.png", alt: "logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active search">

          <p class="tag-nav nav-link m-3 btn-login"><%= link_to "Voir mes tondeuses", my_tools_path%></p>
          <p class="tag-nav nav-link m-3 btn-login"><%= link_to "Voir mes réservations", profile_path%></p>
          <p class="tag-nav nav-link m-3 btn-login"><%= link_to "Ajouter une tondeuse en location",new_my_tool_path%></p>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://avatarfiles.alphacoders.com/207/thumb-207370.jpg", class: "zoom avatar dropdown-toggle m-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right menu-avatar" aria-labelledby="navbarDropdown">
            <%= link_to "    Profile", "profile", class: "dropdown-item fas fa-user m-2" %>
            <%= link_to "    Log out", destroy_user_session_path, method: :delete, class: "dropdown-item fas fa-sign-out-alt m-2" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn-login" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
